
<%- include('../layout/header.ejs') -%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    </head>

    <
        <div class="page-wrapper">
    <%- include('../partials/navbar.ejs') -%>

<body>
    



    <div class="page-wrapper">
     

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/static  /images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">











            	<div class="checkout">
	                <div class="container">



                        <div class="row">
                             
                            <div class="col-lg-9" id="addressContainer">
                                <div class="d-flex justify-content-between align-items-center m-3">
                                    <h3 class="address-heading">Delivery Address</h3>
                                    <button type="button" class="btn btn-outline-primary-2 mb-1" data-toggle="modal" data-target="#addAddressModal">
                                        <span>Add Address</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </div>
                               
                                        <div class="card card-dashboard mb-2 address-card" data-address-id="">
                                            <div class="card-body d-flex justify-content-between align-items-center p-0 m-1">
                                                <div>
                                                    <input type="radio" class="pl-4 ml-3 mr-1" name="addressRadioButton" id="addressRadio">
                                                    <p class="pl-5">
                                                        <strong>Name</strong><br>
                                                        Mndy <br>
                                                        kattikulam
                                                    </p>
                                                </div>
                                                <a href="#" class="edit-address text-right mr-3" data-toggle="modal" data-target="#editAddressModal">
                                                    <i class="icon-edit" style="color: #cc9966;"></i>EDIT
                                                </a>
                                            </div>
                                        </div>
                                
                                
                            </div><!-- End .col-lg-9 -->
                            
                            <aside class="col-lg-3">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3>
                            
                                    <table class="table table-summary">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        
                                      
                                    </table>
                                    
                                    <div class="accordion-summary" id="accordion-payment">
                                        <!-- Payment Methods -->
                                        <div class="card mb-2">
                                            <div class="card-header" id="heading-1">
                                                <h2 class="card-title" id="paymentLabel">
                                                    Payment Methods
                                                </h2>
                                            </div>
                                        </div>
                            
                                        <div class="card mb-1">
                                            <div class="card-header" id="heading-2">
                                                <h2 class="card-title">
                                                    <input type="radio" name="paymentMethod" id="payment-method-2" value="Razor pay">
                                                    <label for="payment-method-2" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                                      Debit Card/Credit Card/UPI
                                                    </label>
                                                </h2>
                                            </div>
                                            <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                Online Payment
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-1">
                                            <div class="card-header" id="heading-3">
                                                <h2 class="card-title">
                                                    <input type="radio" name="paymentMethod" id="payment-method-3" value="Cash on Delivery">
                                                    <label for="payment-method-3" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                        Cash on Delivery
                                                    </label>
                                                </h2>
                                            </div>
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    A method of collecting payment that requires customers to pay for goods at the time of delivery.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="heading-wallet">
                                                <h2 class="card-title">
                                                    <input type="radio" name="paymentMethod" id="payment-method-wallet" value="Wallet">
                                                    <label for="payment-method-wallet" role="button" data-toggle="collapse" href="#collapse-wallet" aria-expanded="false" aria-controls="collapse-wallet">
                                                        Wallet
                                                    </label>
                                                </h2>
                                            </div>
                                            
                                        </div>
                                    </div>
                            
                                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block" id="placeOrderButton">
                                        <span class="btn-text">Place Order</span>
                                        <span class="btn-hover-text">Place Order</span>
                                    </button>
                                </div>
                            </aside>
                            

                            <div class="col-lg-9" id="orderSummaryContainer">
                                <div class="d-flex justify-content-between align-items-center m-3">
                                    <h3 class="order-summary-heading">Order Summary</h3>
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#orderSummaryAccordion" aria-expanded="true" aria-controls="orderSummaryAccordion">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                </div>
                            
                                <div id="orderSummaryAccordion" class="collapse show">
                                    <div class="order-summary-card">
                                        <div class="order-summary-body">
                                            <!-- Order Items -->
                                            
                                         
                                            <!-- Order Summary Total -->
                                            <div class="order-summary-section">
                                                <h5 class="order-summary-subtitle">Order Total</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            
                            
                            

                        <!-- Edit Address Modal -->
                       
                            <div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog" aria-labelledby="editAddressModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-center w-100" id="editAddressModalLabel">Edit Address</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="editAddressForm">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label for="editName-">Full Name *</label>
                                                        <input type="text" class="form-control" id="editName-" name="name" required>
                                                        <div class="error-message" id="name-error-"></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label for="editPhone-">Mobile Number *</label>
                                                        <input type="text" class="form-control" id="editPhone-" name="number" >
                                                        <div class="error-message" id="number-error-"></div>
                                                    </div>
                                                </div>
                                                <label for="editAddress-">Address *</label>
                                                <input type="text" class="form-control" id="editAddress-" name="address" required>
                                                <div class="error-message" id="address-error-"></div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label for="editStreet-">Street/City *</label>
                                                        <input type="text" class="form-control" id="editStreet-" name="street" >
                                                        <div class="error-message" id="street-error-"></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label for="editPostalCode-">Pincode *</label>
                                                        <input type="text" class="form-control" id="editPostalCode-" name="postalCode" required>
                                                        <div class="error-message" id="pincode-error-"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label for="editState-">State *</label>


                                                        <select class="form-control" id="editState-" name="state" required>
                                                            <option value="" disabled selected>Select your state</option>
                                                            <option value="Kerala">Kerala</option>
                                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                                            <option value="Karnataka">Karnataka</option>
                                                            <!-- Add more options as needed -->
                                                        </select>
                                                    
                                                        <div class="error-message" id="state-error-"></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label for="editLandmark-">Landmark *</label>
                                                        <input type="text" class="form-control" id="editLandmark-" name="landmark" required>
                                                        <div class="error-message" id="landmark-error-"></div>
                                                    </div>
                                                </div>
                                                <div class="text-center mt-3">
                                                    <button type="submit" class="btn btn-outline-primary-2">
                                                        <span>SAVE CHANGES</span>
                                                        <i class="icon-long-arrow-right"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       

             <!-- edi Address Modal  end-->                        
                                    


                                            <!-- Add Address Modal -->
                                            <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-center w-100" id="addAddressModalLabel">Add Address</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="address-form">
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <label for="name">Full Name *</label>
                                                                        <input type="text" class="form-control " id="name" name="name" required>
                                                                        <div class="error-message" id="name-error"></div>
                                                                    </div><!-- End .col-sm-6 -->
                                            
                                                                    <div class="col-sm-6">
                                                                        <label for="number">Mobile Number *</label>
                                                                        <input type="text" class="form-control" id="number" name="number" required>
                                                                        <div class="error-message" id="number-error"></div>
                                                                    </div><!-- End .col-sm-6 -->
                                                                </div><!-- End .row -->
                                            
                                                                <label for="address">Address *</label>
                                                                <input type="text" class="form-control" id="address" name="address" required>
                                                                <div class="error-message" id="address-error"></div>
                                            
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <label for="street">Street/City *</label>
                                                                        <input type="text" class="form-control" id="street" name="street" required>
                                                                        <div class="error-message" id="street-error"></div>
                                                                    </div><!-- End .col-sm-6 -->
                                            
                                                                    <div class="col-sm-6">
                                                                        <label for="postalCode">Pincode *</label>
                                                                        <input type="text" class="form-control" id="postalCode" name="postalCode" required>
                                                                        <div class="error-message" id="postalCode-error"></div>
                                                                    </div><!-- End .col-sm-6 -->
                                                                </div><!-- End .row -->
                                            
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <label for="state">State *</label>
                                                                        <select class="form-control" id="state" name="state" required>
                                                                            <option value="" disabled selected>Select your state</option>
                                                                            <option value="Kerala">Kerala</option>
                                                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                                                            <option value="Karnataka">Karnataka</option>
                                                                            <!-- Add more options as needed -->
                                                                        </select>
                                                                        <div class="error-message" id="state-error"></div>
                                                                    </div><!-- End .col-sm-6 -->
                                            
                                                                    <div class="col-sm-6">
                                                                        <label for="landmark">Landmark</label>
                                                                        <input type="text" class="form-control" id="landmark" name="landmark" required>
                                                                        <div class="error-message" id="landmark-error"></div>
                                                                    </div><!-- End .col-sm-6 -->
                                                                </div><!-- End .row -->
                                            
                                                                <input type="hidden" id="userId" value="">
                                                                <div class="text-center mt-3">
                                                                    <button type="submit" class="btn btn-outline-primary-2">
                                                                        <span>SAVE CHANGES</span>
                                                                        <i class="icon-long-arrow-right"></i>
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                
                                        <!-----Add Address modal End------>

                            
                            
                        </div><!-- End .row -->
            










            			<div class="checkout-discount">
            				
            			</div><!-- End .checkout-discount -->
            			<form action="/address" method="post" class="col-md-12" id="addressForm" novalidate>
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
		                				
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Full Name</label>
                                            <input type="text" class="form-control" name="name" placeholder="Enter your full name">
                                            <div class="invalid-feedback">Full Name is required.</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Phone Number</label>
                                            <input type="number" class="form-control" name="phone" placeholder="Enter your phone number">
                                            <div class="invalid-feedback">Phone Number is required.</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Country</label>
                                            <input type="text" class="form-control" name="country" placeholder="Enter your country">
                                            <div class="invalid-feedback">Country is required.</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>State</label>
                                            <input type="text" class="form-control" name="state" placeholder="Enter your state">
                                            <div class="invalid-feedback">State is required.</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>District</label>
                                            <input type="text" class="form-control" name="district" placeholder="Enter your district">
                                            <div class="invalid-feedback">District is required.</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>City</label>
                                            <input type="text" class="form-control" name="city" placeholder="Enter your city">
                                            <div class="invalid-feedback">City is required.</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Land Mark</label>
                                            <input type="text" class="form-control" name="landmark" placeholder="Enter a landmark">
                                            <div class="invalid-feedback">Landmark is required.</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>House/Building</label>
                                            <input type="text" class="form-control" name="house" placeholder="Enter house/building">
                                            <div class="invalid-feedback">House/Building is required.</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Postal Code</label>
                                            <input type="number" class="form-control" name="pincode" placeholder="Enter postal code">
                                            <div class="invalid-feedback">Postal Code is required.</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="address-type">Address Type</label>
                                            <select id="address-type" class="form-control" name="type">
                                                <option value="">Select Address Type</option>
                                                <option value="home">Home</option>
                                                <option value="work">Work</option>
                                                <option value="other">Other</option>
                                            </select>
                                            <div class="invalid-feedback">Address Type is required.</div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary-2 mt-3">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
	        							
	                					</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
		                						<tr>
		                							<td><a href="#">Beige knitted elastic runner shoes</a></td>
		                							<td>$84.00</td>
		                						</tr>

		                						<tr>
		                							<td><a href="#">Blue utility pinafore denimdress</a></td>
		                							<td>$76,00</td>
		                						</tr>
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>$160.00</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>$160.00</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    <div class="card">
										        <div class="card-header" id="heading-1">
										            <h2 class="card-title">
										                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
										                    Direct bank transfer
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
										            <div class="card-body">
										                Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-2">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
										                    Check payments
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
										            <div class="card-body">
										                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
										                    Cash on delivery
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
										            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-4">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
										                    PayPal <small class="float-right paypal-link">What is PayPal?</small>
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
										            <div class="card-body">
										                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-5">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
										                    Credit Card (Stripe)
										                    <img src="/static/images/payments-summary.png" alt="payments cards">
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
										            <div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->
										</div><!-- End .accordion -->

		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
</div>




</body>



<script>
    const form = document.getElementById('addressForm');

form.addEventListener('submit', function (event) {
event.preventDefault(); // Prevent default form submission
let isValid = true;

// Validate all form fields
const inputs = form.querySelectorAll('.form-control');
inputs.forEach(input => {
    const feedback = input.nextElementSibling;
    const value = input.value.trim();

    if (!value) {
        input.classList.add('is-invalid');
        feedback.textContent = `${input.previousElementSibling.textContent} is required.`;
        isValid = false;
    } else if (input.name === 'phone') {
        // Validate phone number
        const phoneRegex = /^[0-9]{10}$/;
        if (!phoneRegex.test(value)) {
            input.classList.add('is-invalid');
            feedback.textContent = 'Phone Number must be exactly 10 digits.';
            isValid = false;
        } else {
            input.classList.remove('is-invalid');
            feedback.textContent = '';
        }
    } else if (input.name === 'pincode') {
        // Validate pincode
        const pincodeRegex = /^[0-9]{6}$/;
        if (!pincodeRegex.test(value)) {
            input.classList.add('is-invalid');
            feedback.textContent = 'Postal Code must be exactly 6 digits.';
            isValid = false;
        } else {
            input.classList.remove('is-invalid');
            feedback.textContent = '';
        }
    } else {
        input.classList.remove('is-invalid');
        feedback.textContent = '';
    }
});

// Allow form submission if valid
if (isValid) {
    alert('Form submitted successfully!');
    form.submit();
}
});

// Remove error message as user types
form.querySelectorAll('.form-control').forEach(input => {
input.addEventListener('input', function () {
    if (this.value.trim()) {
        this.classList.remove('is-invalid');
        this.nextElementSibling.textContent = '';
    }
});
});

</script>


</html>




